#fzf Gruvbox theme
# export FZF_DEFAULT_OPTS='--color fg:#ebdbb2,bg:#282828,hl:#fabd2f,fg+:#ebdbb2,bg+:#3c3836,hl+:#fabd2f
# --color info:#83a598,prompt:#bdae93,spinner:#fabd2f,pointer:#83a598,marker:#fe8019,header:#665c54'

_gen_fzf_default_opts() {

local color0='#282828' #bg
local color1='#ebdbb2' #fg
local color2='#fabd2f' #hl
local color3='#3c3836' #bg+
local color4='#ebdbb2' #fg+
local color5='#fabd2f' #hl+
local color6='#665c54' #header
local color7='#bdae93' #prompt
local color8='#fabd2f' #spinner
local color9='#83a598' #info
local colorA='#83a598' #pointer
local colorB='#fe8019' #marker
# local color0C=''
# local color0D=''
# local color0E=''
# local color0F=''

export FZF_DEFAULT_OPTS="$FZF_DEFAULT_OPTS"\
" --color=bg:$color0,fg:$color1,hl:$color2"\
" --color=bg+:$color3,fg+:$color4,hl+:$color5"\
" --color=header:$color6,prompt:$color7,spinner:$color8"\
" --color=info:$color9,pointer:$colorA,marker:$colorB"\
" --prompt='->'"
}

_gen_fzf_default_opts
